
*.o

*.out

trainingandtestdata/training\.1600000\.processed\.noemoticon\.csv
.DS_Store
output.json
.vscode/launch.json
parse_output.out.dSYM/Contents/Info.plist
keys
SentiWords_1.1.txt
analyse_sentiment.h.gch
.vscode/settings.json
a.out.dSYM/Contents/Info.plist
extract_test.c
SentiWords_Sorted.txt
dataset_test.py
memusg.sh
.vscode/*
trainingandtestdata
